[user]
	name = Tor Habberstad
	email = tor.berglund@gmail.com
[core]
	editor = nano
[push]
	autoSetupRemote = true
[pull]
	rebase = true
[safe]
	directory = /mnt/gdrive-th/gdrive-scripts/autosorter
	directory = /mnt/gdrive-th/scripts/autosorte
	directory = /mnt/gdrive-th/scripts/autosorter
	directory = /mnt/gdrive-th/scripts/ytd
